.elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
    gap: 20px;
}
.elements__popup_form{
    width: 30%;
    position: fixed;
    z-index: 2;
    top:150px;
    left: 35%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
}
.elements__popup_confirm{
    text-align: center;
    height: 50px;
    margin-top: 50px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
.block{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}
.block__img{
    object-fit: cover;
    height: 300px;
    cursor: pointer;
}
.block__erase-button{
    position: absolute;
    right: 20px;
    top: 20px;
}
.block__erase-button:hover{
    opacity: 60%;
    cursor: url(../images/puntero-custom.png), pointer;
}
.block__ftr{
    margin: 0 20px;
    font-family: 'Inter Black';
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block__button{
    width: 21px;
}
.block__button:hover{
    opacity: 50%;
    cursor: url(../images/puntero-custom.png), pointer;
}
.block__button-black{
    background-image: url(../images/black-heart.svg);
}
@media screen and (max-width: 768px){
    .elements{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 320px) {
    .elements{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .block{
    width: 15rem;
    height: 21rem;
    }
    .block__img{
        max-height: 240px;
    }
}