.form{
    width: 30%;
    position: fixed;
    z-index: 2;
    top:150px;
    left: 35%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
}
.form--new-place{
    width: 30%;
    position: fixed;
    z-index: 2;
    top:150px;
    left: 35%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
}
.form__title{
    font-family: 'Inter Black';
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
.form__input{
    border: none;
    border-bottom: solid 1px rgba(196, 196, 196, 1);
    height: 25px;
    margin: 25px 0 0;
}
.form__input_invalid{
    border-bottom: solid 1px red;
}
.form__input-error{
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 0, 0, 1);
}
#name #about{
    font-weight: 400;
    font-size: 14px;
    color:rgba(0, 0, 0, 1);
}
.form__save-button{
    text-align: center;
    height: 50px;
    margin-top: 50px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
.form__save-button--inactive{
    text-align: center;
    height: 50px;
    margin-top: 50px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background-color: transparent;
    color: rgba(196, 196, 196, 1);
    cursor:not-allowed;
}
.form__save-button:hover{
    cursor: pointer;
    opacity: 80%;
}
.form__close-icon{
    z-index: 2;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
}
.form__close-icon-NP{
    z-index: 2;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
}
@media screen and (max-width: 320px){
    .form{
        width:80%;
        top: 110px;
        left: 5%;
        padding: 15px;
    }
    .form__close-icon{
        right: 0;
        height: 20px;
    }
    .form--new-place{
        width:80%;
        top: 110px;
        left: 5%;
        padding: 15px;
    }
    .form__close-icon-NP{
        right: 0;
        height: 20px;
    }
}