.header{
    margin: 45px 0 ;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 33px;
    border-bottom: solid 1px rgba(84, 84, 84, 1);
}
.header__logo{
    width: 173px;
    height: 33px;
}
