popup__image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.close-icon {
    margin: 0 0 0 auto;
    width: 30px;
    cursor: pointer;
    background-image: url(../images/Close_Icon.png);
}
.close-icon:hover{
    opacity: 60%;
}


