.profile{
    display: flex;
    margin: 0 0 45px;
}
.profile__avatar-container{
    position: relative;
}
.profile__avatar-container:hover .profile__avatar_edit{
    opacity: 1;
}
.profile__avatar-container:hover .profile__avatar{
    transform: scale(1.1);
}
.profile__avatar{
    height: 127.5px;
    width: 127.5px;
    border-radius: 120px;
    margin-right: 45px;
    background-size: auto;
    transition-property: transform;
    transition-duration: 0.5s;
}
.profile__avatar_edit{
    position: absolute;
    z-index: 2;
    width: 26px;
    height: 26px;
    top: 50px;
    left: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.profile__info{
    display: flex;
    flex-direction: column;
    color: white;
}
.profile__info_name{
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 0;
}
.profile__info_explorer{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 10px 0 0;
}
.edit-button{
    width: 14px;
    height: 14px;
    margin: auto 2px;
    padding: 5px;
    border: solid 1px rgba(255, 255, 255, 1);
}
.edit-button:hover{
    cursor: url(../images/puntero-custom.png), pointer;
    opacity: 80%;
}
.profile__add-button{
    width: 150px;
    height: 50px;
    border: solid 2px rgba(255, 255, 255, 1);
    display: flex;
    margin: auto 0 auto auto;
}
.profile__add-button:hover{
    cursor: url(../images/puntero-custom.png), pointer;
    opacity: 80%;
}
.profile__add-button_img{
    margin: auto;
    width: 22px;
    height: 22px;
    border: none;
}
@media screen and (max-width: 320px) {
    .profile{
        flex-direction: column;
    }
    .profile__info{
        justify-content: center;
    }
    .profile__add-button{
        width: 100%;
        margin:0;
    }
    .profile__add-button_img{
        margin: auto;
        width:22px;
    }
    .profile__avatar{
        margin: auto;
    }
    .profile__info_name{
        font-size: 22px;
    }
    .profile__info_explorer{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .edit-button{
        width: 10px;
        height: 10px;
        padding: 4px;
        align-self: end;
        position: relative;
        top: -75px;
        margin-right: 30px;
    }
}